@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit), sans-serif;
}

h1 {
  font-family: var(--font-kanit), sans-serif;
  font-size: 2.25rem; /* Tailwind text-4xl */
  line-height: 2.5rem;
  font-weight: 400;
}

h2 {
  font-family: var(--font-kanit), sans-serif;
  font-size: 1.5rem; /* Tailwind text-2xl */
  line-height: 2rem;
  font-weight: 400;
}

h3 {
  font-family: var(--font-kanit), sans-serif;
  font-size: 1.25rem; /* Tailwind text-xl */
  line-height: 1.75rem;
  font-weight: 400;
}
